[llm]
# LLM模型名称
model = "gemini-1.5-pro"
# Openai API密钥
api_key = "your_api_key" 
# Google API密钥
google_api_key = ""
# API基础URL
base_url = "https://api.openai.com/v1"
# 生成文本的随机性 (0-1)
temperature = 0.7
# 最大生成token数
max_tokens = 1000
# 最大上下文消息数
max_context_messages = 10
# 系统提示词
system_prompt = "你是一个会使用tool的bot"



[plugin.llm_chat]
# 触发词列表
Trigger_words = ["小宝","qw"]
# 触发方式: "keyword"(关键词触发), "at"(艾特触发)，"prefix"(前缀触发)
Trigger_mode = ["keyword", "at"]
# 是否启用群聊隔离
group_chat_isolation = true
# 是否允许私聊
enable_private = true
# 是否允许群聊
enable_group = true
# 最大会话数
max_sessions = 1000
# 空消息回复列表
empty_message_replies = [
    "你好",
    "在呢",
    "我在听"
]