name: image Build

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate timestamp
        id: timestamp
        run: echo "timestamp=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build å’Œ push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            qianye60/qq-robot-swordfairy:latest
            qianye60/qq-robot-swordfairy:${{ steps.timestamp.outputs.timestamp }}
          platforms: linux/amd64
          cache-from: type=registry,ref=qianye60/qq-robot-swordfairy:buildcache
          cache-to: type=registry,ref=qianye60/qq-robot-swordfairy:buildcache,mode=max

